*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap{
    width: 100%;
    min-height: 100vh;
    padding: 6em;
}

.form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    max-width: 300px;
}

.form input{
    margin-top: 1em;
    padding: .5em;
}

.form label {
    font-size: 1.5em;
    margin-top: 1em;
    font-weight: 600;
}

.form label:first-child{
    margin-top: 0;
}

.form button{
    padding: .5em;
    margin: 1em auto;
    width: 50%;
    font-size: 18px;
}

.form p{
    margin: 0 auto;
}

.row {
    display: flex;
}